{% load staticfiles %}

<html>
<body bgcolor="#ffffff">

<header>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <div class="page-header">Spectral chart</div> 
</header>

<ul id="navbar">
  <li><a href="http://127.0.0.1:8000/">Main</a></li>  
  <li><a href="http://127.0.0.1:8000/upload_file/">Add data</a></li>
  <li><a href="http://127.0.0.1:8000/about/">About</a></li>
  <li><a href="http://127.0.0.1:8000/login/">Login</a></li>
  <div class="user_name" style="color:red">{{ user.username }}</div>  
</ul>	


<!-- <form action="http://127.0.0.1:8000/main_chart/" method="get">
	
	<p><input type=search name=rate placeholder="Sampling Frequency, Hz" ></p>

	<p><input type=file name=file value="Open file"></p>

    <p><input type="submit" value="Create chart"/></p>
</form> -->


{% block content %}

<form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
    
	{% csrf_token %}
	
	{{ form.as_p }}

	{% if user.is_authenticated %}

    <p><input type="submit" value="Upload"/></p>
	
	{% endif %}
	 
</form>

{% endblock %}

</body>
</html>